{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>{% block title-name %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <div class="row header d-flex justify-content-center align-items-center">
            <div class="col-2 logo d-flex justify-content-start">
                <p><a href="{% url 'home' %}"><span>Just</span><span>Ask</span></a></p>
            </div>
            <div class="col-6 search d-flex justify-content-start">
                <input type="search" placeholder="Search answer..." maxlength="100">
                <button type="submit">Search</button>
            </div>
            <div class="col-2 ask-question d-flex justify-content-end">
                <a href="{% url 'ask' %}"><button type="submit">Ask question</button></a>
            </div>
            <div class="col-2 authorization d-flex justify-content-around">
                <a href="{% url 'login' %}">Sign in</a>
                <a href="{% url 'signup' %}">Sign up</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row body-block">
            <div class="col-8 topics d-flex justify-content-start align-items-center">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-4 right-block">
                <div class="row img">
                    <img src="{% static 'main/img/right-block-img.jpg' %}" alt="">
                </div>
                
                <div class="row popular-tags">
                    <h3>Popular tags</h3>
                    <div class="tags">
                        <ul>
                            <li><a href="{% url 'tags' %}">Python</a></li>
                            <li><a href="{% url 'tags' %}">Django</a></li>
                            <li><a href="{% url 'tags' %}">C/C++</a></li>
                            <li><a href="{% url 'tags' %}">JavaScript</a></li>
                            <li><a href="{% url 'tags' %}">Html</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row best-members">
                    <h3>Best members</h3>
                    <div class="members">
                        <ul>
                            <li><a href="{% url 'profile' %}">Antdenv</a></li>
                            <li><a href="{% url 'profile' %}">Jfernandezzz</a></li>
                            <li><a href="{% url 'profile' %}">Mr. Freeman</a></li>
                            <li><a href="{% url 'profile' %}">Advocados</a></li>
                            <li><a href="{% url 'profile' %}">Murmur</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>