{% load static %}

<div class="row anwser d-flex align-items-center">
    <div class="col-3 left-side">
        <img src="{% static 'main/img/avatar.jpg' %}" alt="Avatar"><br>
        <button>Like</button><span>0</span><button>Dizlike</button><span>0</span>
    </div>
    <div class="col-9 right-side tags-body">
        <a href="{% url 'question' %}" class="question-link">{{ question.title }}</a>
        <p>{{ question.text }}
        </p>
        <a href="{% url 'question' %}" class="answers-a">anwsers (<span>3</span>)</a>
        <span>Tags: </span>
        <a href="{% url 'tags' %}">black-jack</a>
        <a href="{% url 'tags' %}">bender</a>
    </div>
</div>