{% load static %}

<div class="container">
    <img src="{% static 'img/user.jpg' %}" alt="" class="settings-img">
    <img class="settings-avatar" src="{{ user.avatar.url }}" alt="">
</div>
<div class="user-info">
    <p>{{ user.username }}</p>
    <p>{{ user.first_name }}</p>
    <p>{{ user.last_name }}</p>
    <p>{{ user.email }}</p>
</div>
<div class="settings-form">
    <form role="form" class="go-bottom form-horizontal" action="{% url 'settings' %}" method="POST" enctype="multipart/form-data">
        <h2 class="m-0 pb-4">Settings</h2>
        {% csrf_token %}
        {% for errors in messages %}
            <div class="col-8 border text-dark">
                <p class="px-3 pt-2 ">{{ errors }}</p>
            </div>
        {% endfor %}
        <div class="col-8">
            <input id="email" name="email" type="email"  placeholder="Your email..." required>
        </div>
        <div class="col-8 mb-3 mt-2">
            <input id="first_name" name="first_name" type="text"  placeholder="Your first name..." required>
        </div>
        <div class="col-8 mb-3 mt-2">
            <input id="last_name" name="last_name" type="text" placeholder="Your last name" required>
        </div>
        <input type="file" class="form-control-file input-img" id="avatar" name="avatar"/>
        <button formnovalidate type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>
</div>
