{% extends 'main/include/base_auth.html' %}
{% load static %}

{% block title-name %}JustAsk{% endblock %}

{% block content %}
    <div class="row question-page d-flex align-items-start">
        <div class="row answers-block">
            <div class="row questions-header">
                <div class="col-4 new-questions" ><a href="#">New Questions</a></div>
                <div class="col-8 hot-questions"><a href="#">Hot Questions</a></div>
            </div>
            {% for question in questions %}
                {% include "main/include/block_question.html" %}
            {% endfor %}
        </div>
        {% include "main/include/paginator.html" %}
    </div>
{% endblock %}
