{% extends 'main/include/base_no_auth.html' %}
{% load static %}

{% block title-name %}Single Question{% endblock %}

{% block content %}
    <div class="row question-page">
        <div class="row head-block">
            {% include "main/include/head_of_question.html" %}
        </div>
        <div class="hr"></div>
        <div class="row anwsers-block">
            {% for anw in anw_block %}
                {% include "main/include/single_an.html" %}
            {% endfor %}
        </div>
        {% include "main/include/paginator.html" with content=anw_block %}
        <div class="hr" id="hr2"></div>
        <div class="row footer-block">
            <textarea id="anwser-textarea" placeholder="Enter your anwser here..." cols="45" rows="6" required maxlength="1000"></textarea> <br>
            <button type="submit">Anwser</button>
        </div>
    </div>
{% endblock %}
