{% extends 'main/include/base_auth.html' %}
{% load static %}

{% block title-name %}Tag page{% endblock %}

{% block content %}
    <div class="row question-page">
        <div class="row answers-block">
            <div class="row tag-h">
                <h3>Tag: <span class="tag">bender</span></h3>
            </div>
            {% for question in questions %}
                {% include "main/include/block_question.html" %}
            {% endfor %}
        </div>
        {% include "main/include/paginator.html" with content=questions %}
    </div>
{% endblock %}

