@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Barlow', sans-serif;
}

.header {
    width: 80%;
    margin: 10px auto;
    padding-bottom: 68px;
    border-bottom: 1px solid #eaebec;
    height: 60px;
    box-sizing: border-box;
    
}

.logo {
    margin-left: -60px;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo p {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 700;
    padding-top: 12px;
    margin-left: -50px;
}

.logo p span:last-child {
    color: #ff516b;
}

.search input {
    width: 90%;
    outline: 0;
    border: 1px solid #eaebec;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 14px;
    transition: border .3s linear;
}

.search input:focus {
    border: 1px solid #808288;
}

.search button, .ask-question button {
    background-color: black;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    height: 44px;
    margin-top: 2px;
    padding: 10px 16px;
    transition: background-color .3s linear;
}

.search button:hover, .ask-question button:hover {
    background-color: #ff516b;
}

.authorization a:first-child {
    margin-left: 20px;
}

.authorization a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: color .3s linear;
}

.authorization a:hover {
    color: #ff516b;
}

.right-block {
    margin-top: 30px;
}

.right-block img {
    border-radius: 60px;
    width: 85%;
    margin-bottom: 30px;
}

.right-block h3 {
    margin-top: 8px;
    font-weight: 600;
    padding-left: 40px;
}

.popular-tags {
    margin-bottom: 30px;
}

.popular-tags, .best-members {
    width: 85%;
    border-radius: 60px;
    padding: 16px 12px;
    margin-left: 1px;
    background-color: #fad9ec;
}

.tags li, .members li {
    list-style-type: none;
    margin-bottom: 6px;
}

.tags a, .members a {
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    color: #f36b80;
    transition: color .2s linear;
}

.tags a:hover, .members a:hover {
    color: black;
}

.topics {
    position: relative;
}

.login-img {
    position: absolute;
    left: -140px;
    top: 88px;
    width: 94%;
    transform: scale(-1, 1);
}

.question {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #ffe6a2;
    opacity: 0.95;
    width: 560px;
    padding: 40px 40px;
    border-radius: 40px;
    left: 210px;
}

.question h3 {
    font-size: 38px;
    margin-bottom: 20px;
    text-align: center;
}

.question input {
    margin-bottom: 15px;
    width: 410px;
    outline: none;
    height: 46px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 20px;
    transition: border .3s linear;
}

.question textarea {
    margin-bottom: 15px;
    width: 410px;
    outline: none;
    resize: none;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 20px;
    transition: border .3s linear;
}

.question textarea:focus , .question input:focus {
    border: 1px solid black;
}

.question button {
    font-size: 16px;
    font-weight: 500;
    margin-top: 4px;
    margin-left: 150px;
    width: 100px;
    padding: 8px 10px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: background-color .2s linear;
}

.question button:hover {
    background-color: #f36b7f;
}

.signup-img {
    position: absolute;
    width: 100%;
    left: -40px;
    top: 12px;
}

.login-form {
    display: flex;
    opacity: 0.90;
    justify-content: center;
    position: absolute;
    background-color: #b1cafc;
    width: 580px;
    height: 360px;
    padding: 30px 40px;
    border-radius: 40px;
    left: 110px;
    top: 280px;
    z-index: 1;
}

.login-form h3 {
    font-size: 38px;
    margin-bottom: 10px;
    text-align: center;
}

.login-form p {
    font-size: 18px;
    margin-bottom: 16px;
    text-align: center;
    color: #b11c32;
    font-weight: 400;
}

.login-form input {
    margin-bottom: 15px;
    width: 350px;
    outline: none;
    height: 46px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 20px;
    transition: border .3s linear;
    margin-left: 12px;
}

.login-form input:focus {
    border: 1px solid black;
}

.login-form a {
    margin: 110px;
    font-size: 18px;
}

.login-form button {
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    margin-left: 126px;
    width: 120px;
    padding: 8px 10px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: background-color .2s linear;
}

.login-form button:hover {
    background-color: #b11c32;
}

.signup-form {
    display: flex;
    opacity: 0.88;
    justify-content: center;
    position: absolute;
    background-color: #96caba;
    width: 580px;
    height: 580px;
    padding: 30px 40px;
    border-radius: 40px;
    left: 110px;
    top: 222px;
    z-index: 1;
}

.signup-form form {
    margin-left: 64px;
}

.signup-form input {
    margin-bottom: 15px;
    width: 350px;
    outline: none;
    height: 46px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 20px;
    transition: border .3s linear;
    margin-left: 8px;
}

.signup-form input:focus {
    border: 1px solid black;
}

.signup-form h3 {
    font-size: 38px;
    margin-bottom: 10px;
    margin-left: -60px;
    text-align: center;
}

.signup-form p {
    font-size: 18px;
    margin-bottom: 16px;
    margin-left: -60px;
    text-align: center;
    color: #b11c32;
    font-weight: 400;
}

.signup-form button {
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    margin-left: 126px;
    width: 120px;
    padding: 8px 10px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: background-color .2s linear;
}

.signup-form button:hover {
    background-color: #b11c32;
}

.signup-form label {
    color: black;
    font-size: 18px;
    margin-left: 14px;
}

#avatar {
    border: none;
    width: 250px;
    margin-bottom: 10px;
}

.topics .profile-img {
    width: 100%;
    position: absolute;
    top: 30px;
    left: -40px;
    border-radius: 20px;
}

#user-avatar {
    width: 23%;
    height: 24%;
    border-radius: 50%;
    border: 14px solid white;
    position: absolute;
    top: 125px;
    left: 18px;
}

.profile-form {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #ffebb3;
    width: 590px;
    height: 470px;
    padding: 30px 40px;
    border-radius: 40px;
    left: 250px;
    top: 222px;
    z-index: 1;
}

.profile-form h3 {
    font-size: 38px;
    margin-bottom: 30px;
    text-align: center;
}

.profile-form input {
    margin-bottom: 15px;
    width: 350px;
    outline: none;
    height: 46px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 20px;
    transition: border .3s linear;
    margin-left: 72px;
}

.profile-form input:focus {
    border: 1px solid black;
}

.profile-form label {
    color: black;
    font-size: 20px;
    margin-left: 194px;
    margin-right: 0;
    margin-bottom: 10px;
}

.profile-form #avatar {
    margin-left: 120px;
}

.profile-form button {
    font-size: 16px;
    font-weight: 500;
    margin-top: 6px;
    margin-left: 186px;
    width: 120px;
    padding: 8px 10px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: background-color .2s linear;
}

.profile-form button:hover {
    background-color: #f36b7f;
}

.user-info {
    position: relative;
    top: 310px;
    left: 24px;
    background-color: #fcf0e3;
    padding: 16px;
    border-radius: 15px;
}

.user-info p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4px;
}

.head-block {
    position: relative;
    top: 40px;
    width: 100%;
}

.left-side img {
    width: 180px;
    border-radius: 50%;
}

.question-page button {
    margin-left: 8px;
    margin-top: 9px;
    border: none;
    background-color: #fabdc6;
    color: black;
    padding: 8px 14px;
    border-radius: 12px;
    transition: background-color .2s linear;
}

.question-page button:hover {
    background-color: #f898a7;
}

.question-page span {
    margin-left: 6px;
}

.hr {
    width: 97%;
    margin-top: 70px;
    margin-left: -8px;
    margin-bottom: 40px;
    border-top: 1px solid rgb(170, 169, 169);
}

#hr2 {
    margin-top: 0px;
}

.anwser {
    margin-bottom: 40px;
    border: 1px solid rgb(170, 169, 169);
    border-radius: 15px;
    padding: 14px 10px;
}

.anwsers-block img {
    margin-left: 14px;
    width: 150px;
}

.anwsers-block .right-side {
    margin-top: 40px;
}

.footer-block {
    margin-left: -22px;
    margin-bottom: 60px;
}

.footer-block textarea {
    resize: none;
}

.footer-block button {
    margin-left: -1px;
}

.header-avatar {
    margin-top: 4px;
    width: 65px;
    height: 45px;
    border-radius: 50%;
}

.nickname-p {
    margin-left: 25px;
    margin-top: 12px;
}

.links {
    position: relative;
    left: 45px;
}

.tags-body {
    position: relative;
    top: -20px;
}

.tags-body a {
    margin-right: 10px;
}

.tag-h {
    margin: 20px 0 20px -20px;
}

.question-link {
    font-size: 18px;
}

.pages-numbers {
    width: 100%;
    margin-top: -8px;
    margin-bottom: 40px;
}

.questions-header {
    margin: 10px 0 20px -20px;
}

.hot-questions {
    margin-left: -20px;
    font-size: 22px;
}

.hot-questions a {
    color: black;
    text-decoration: none;
}

.hot-questions a:hover {
    color: #ff516b;
}

.new-questions a {
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.new-questions a:hover {
    color: #ff516b;
}

.pagination {
    margin-bottom: 40px;
}